<div class="jumbotron text-center">
	<h1>Home Page</h1>

    <div ng-show="error" class="alert alert-danger">{{error}}</div>
	
    <span ng-hide="balanceLoaded" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>

    <p ng-show="balance">Your current balance is <b>{{balance}}</b></p>
</div>