<div class="row">
    <div class="col-xs-12">
        <h1>Please login</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <form name="form" ng-submit="loginQuery()">
            <div class="form-group">
                <label for="loginInput">Login</label>
                <input name="username" type="text" class="form-control" ng-model="login" id="loginInput" placeholder="Login" required>
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input name="password" type="password" class="form-control" ng-model="password" id="passwordInput" placeholder="Password" required>
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-default">Log In</button>
            <span ng-show="queryStatus" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </form>
    </div>
</div>
