<div class="row">
    <div class="col-xs-12">
        <h1>Create a new account</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div ng-show="success" class="alert alert-success">Success</div>
        <form name="form" ng-submit="signupQuery()">
            <div class="form-group">
                <label for="loginInput">Login</label>
                <input name="username" type="text" ng-model="login" class="form-control" id="loginInput" placeholder="Login" required>
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input name="password" type="password" ng-model="password" class="form-control" id="passwordInput" placeholder="Password" required>
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="form-group">
                <label for="repeatPasswordInput">Repeat password</label>
                <input name="repeatpassword" type="password" ng-model="repeatpassword" class="form-control" id="repeatPasswordInput" placeholder="Repeat password" required>
                <span ng-show="form.repeatpassword.$dirty && form.repeatpassword.$error.required" class="help-block">Password is required</span>
            </div>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-default">Sign up</button>
            <span ng-show="queryStatus" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </form>
    </div>
</div>
