<div class="row">
    <div class="col-xs-12">
        <h1>Statement of transactions <span id="statementLoad" ng-hide="statementLoaded" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></h1>
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
    </div>
</div>

<div ng-hide="transactions.length || !statementLoaded" id="emptyStatement">Your Statements will be here</div>

<table ng-show="transactions.length" class="table table-bordered">
    <tr>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    <tr ng-repeat="item in transactions">
        <td>{{item.Amount}}</td>
        <td>{{item.CreateDate | date:"MM/dd/yyyy 'at' h:mma"}}</td>
    </tr>

</table>
