<div class="row">
    <div class="col-xs-12">
        <h1>Transfer money</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div ng-show="success" class="alert alert-success">Success. Your balance is {{balance}}</div>
        <form name="form" ng-submit="withdrawQuery()">
            <div class="form-group">
                <label for="loginInput">User <span ng-hide="userLoaded" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></label>
                <select name="user" class="form-control" ng-model="user" required>
                    <option value=''>Select user</option>
                    <option ng-repeat="user in users" value="{{user.Id}}">{{user.Name}}</option>
                </select>
                <span ng-show="form.user.$dirty && form.user.$error.required" class="help-block">User is required</span>
            </div>
            <div class="form-group">
                <label for="loginInput">Amount</label>
                <input name="amount" min="1" type="number" class="form-control" ng-model="amount" id="loginInput" placeholder="Amount" required>
                <span ng-show="form.amount.$dirty && form.amount.$error.required" class="help-block">Amount is required</span>
                <span ng-show="form.amount.$dirty && form.amount.$error.min" class="help-block">Minimum amount is 1</span>
            </div>
            <button type="submit" ng-disabled="form.$invalid || transferLoad" class="btn btn-default">Transfer</button>
            <span ng-show="queryStatus" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </form>
    </div>
</div>
