<div class="row">
    <div class="col-xs-12">
        <h1>Withdraw money</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div ng-show="success" class="alert alert-success">Success. Your balance is {{balance}}</div>
        <form name="form" ng-submit="withdrawQuery()">
            <div class="form-group">
                <label for="loginInput">Amount</label>
                <input name="amount" type="number" min="1" class="form-control" ng-model="amount" id="loginInput" placeholder="Amount" required>
                <span ng-show="form.amount.$dirty && form.amount.$error.min" class="help-block">Minimum amount is 1</span>
                <span ng-show="form.amount.$dirty && form.amount.$error.required" class="help-block">Amount is required</span>
            </div>
            <button type="submit" ng-disabled="form.$invalid || withdrawLoad" class="btn btn-default">Withdraw</button>
            <span ng-show="queryStatus" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </form>
    </div>
</div>
